<a href="https://colab.research.google.com/github/nikhilnimbalkar1/Coursera_Capstone/blob/master/Week3_DataScienceCapstone_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Capstone Week 3
This notebook is for week 3 peer graded assignment.

In [1]:
!pip install  bs4

Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)

In [7]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# **Scrape data from wikipedia and convert to dataframe**
 - scrape postal data of toronto city from wikipedia
 -ignore postal codes that have "not assigned" in them
 -clean data as per hint
 -convert scraped data to dataframe

In [64]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html_data = requests.get(url).content
soup = BeautifulSoup(html_data,"html5lib")
table_data = soup.find('table',attrs={'rules':'all'})
cols = ['Postal Code','Borough','Neighbourhood']
toronto = pd.DataFrame(columns = columns)
for row in table_data.findAll('tr'):
  for td in row.findAll('td'):
    if td.span.text == "Not assigned":
      pass
    else:
        row_data = [td.p.text[:3],(td.span.text).split('(')[0],(((((td.span.text).split('(')[1]).strip(')')).replace(' /',',')).replace(')',' ')).strip(' ')]
        toronto = toronto.append(dict(zip(cols,row_data)),ignore_index=True)
      

toronto['Borough']=toronto['Borough'].replace({'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
                                             'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
                                             'EtobicokeNorthwest':'Etobicoke Northwest','East YorkEast Toronto':'East York/East Toronto',
                                             'MississaugaCanada Post Gateway Processing Centre':'Mississauga'})

In [65]:
toronto

    Postal Code  ...                                      Neighbourhood
0           M3A  ...                                          Parkwoods
1           M4A  ...                                   Victoria Village
2           M5A  ...                          Regent Park, Harbourfront
3           M6A  ...                   Lawrence Manor, Lawrence Heights
4           M7A  ...                      Ontario Provincial Government
..          ...  ...                                                ...
98          M8X  ...      The Kingsway, Montgomery Road, Old Mill North
99          M4Y  ...                               Church and Wellesley
100         M7Y  ...                                     Enclave of M4L
101         M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
102         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

In [66]:
toronto.shape

(103, 3)

# Load Geospatial Data from CSV file
Merge the geospatial data with the actual dataset based on common postal codes.
w

In [69]:
geospatial_data = pd.read_csv('/content/Geospatial_Coordinates.csv')
geospatial_data

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [68]:
toronto = pd.merge(toronto, geospatial_data,on = ["Postal Code"], how="left")
toronto

    Postal Code                Borough  ...   Latitude  Longitude
0           M3A             North York  ...  43.753259 -79.329656
1           M4A             North York  ...  43.725882 -79.315572
2           M5A       Downtown Toronto  ...  43.654260 -79.360636
3           M6A             North York  ...  43.718518 -79.464763
4           M7A           Queen's Park  ...  43.662301 -79.389494
..          ...                    ...  ...        ...        ...
98          M8X              Etobicoke  ...  43.653654 -79.506944
99          M4Y       Downtown Toronto  ...  43.665860 -79.383160
100         M7Y  East Toronto Business  ...  43.662744 -79.321558
101         M8Y              Etobicoke  ...  43.636258 -79.498509
102         M8Z              Etobicoke  ...  43.628841 -79.520999

[103 rows x 5 columns]